@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@500&family=Open+Sans&family=Roboto&display=swap');
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

@import url('global/header.css');
@import url('global/main-home.css');
@import url('global/main-data.css');
@import url('global/main-contact.css');
@import url('global/main-about.css');
@import url('global/nav.css');
@import url('global/footer.css');


:root {
    --column-number : 12;
    --column-gap    : 8px;  /* espace à droite et à gauche de chaque colonne */
}

/* calcul de la taille de colonnes en fonction du nombre de colonnes total et de la taille du gap */
/* 12 colonnes taille 1 24 gaps */
.col-1 {
    width       : calc((100% - ((var(--column-number) * 2) * var(--column-gap))) / var(--column-number));
    margin-left : var(--column-gap);
    margin-right: var(--column-gap);
}

/* 6 colonnes taille 2 12 gaps*/
.col-2 {
    width       : calc((100% - (((var(--column-number) / 2) * 2) * var(--column-gap))) / (var(--column-number) / 2));
    margin-left : var(--column-gap);
    margin-right: var(--column-gap);
}

/* 4 colonnes taille 3 8 gaps */
.col-3 {
    width       : calc((100% - (((var(--column-number) / 3) * 2) * var(--column-gap))) / (var(--column-number) / 3));
    margin-left : var(--column-gap);
    margin-right: var(--column-gap);
}

/* 3 colonnes taille 4  6 gaps */
.col-4 {
    width       : calc((100% - (((var(--column-number) / 4) * 2) * var(--column-gap))) / (var(--column-number) / 4));
    margin-left : var(--column-gap);
    margin-right: var(--column-gap);
}

/* 2 colonnes taille 6 4 gaps */
.col-6 {
    width       : calc((100% - (((var(--column-number) / 6) * 2) * var(--column-gap))) / (var(--column-number) / 6));
    margin-left : var(--column-gap);
    margin-right: var(--column-gap);
}

/* 1 colonne taille 12  2 gaps */
.col-12 {
    width : calc(100% - (2 * var(--column-gap)));
    margin-left : var(--column-gap);
    margin-right: var(--column-gap);
}


* {
    box-sizing              : border-box;

    /* Color Theme */
    --color-body            : #F2F2F2;
    --color-body-shadow     : #26252344;
    --color-article         : #FAFAFA;
    --color-footer          : #AAADBF;
    --color-background      : #594E40;
    --color-selection       : #8C8070;
    --color-text            : #0D0D0D;
    --color-highlight       : #DB803D;
    --color-logo-background : #0D0D0DCC;
    --color-logo-text       : #FAFAFA8C;
}


html {
    background-color : var(--color-background);
}

body {
    position         : relative;
    width            : 1280px;
    min-height       : 90vh;
    margin           : 0 auto;
    background-color : var(--color-body);
    box-shadow       : 0 0 10px 5px var(--color-body-shadow);
    font-size        : 0;
}

main {
    width       : 100%;
    font-family : 'Open Sans', sans-serif;
    margin      : 0 auto;
}

#main_contact article.content,
#main_about article.content,
#main_data article.content{
    display          : inline-block;
    background-color : var(--color-article);
    border           : 1px solid rgba(0, 0, 0, .125);
    border-radius    : 0.25rem;
    padding          : 16px;
    top              : 48px;
    min-height       : 960px;
    font-family      : 'Open Sans', sans-serif;
    font-size        : 1rem;
    text-align       : center;
    line-height      : 48px;
}


/* navigation */
main.hidden {
    display : none;
}
