footer {
    display          : inline-block;
    width            : 100%;
    height           : 256px;
    max-height       : 256px;
    background-color : var(--color-footer);
    border-top       : var(--color-body-shadow) 2px solid;
}

footer > nav {
    width     : 100%;
    font-size : 0;
}

footer > nav > section {
    display        : inline-block;
    vertical-align : top;
    line-height    : initial;
    font-size      : 0;
}

footer > nav > section.foot {
    display        : block;
    vertical-align : top;
    text-align     : left;
    width          : 85%;
    margin         : 12px auto;
    font-size      : 0;
}

footer > nav > section.foot section.info {
    display        : inline-block;
    vertical-align : top;
    width          : calc(100% / 3);
    padding        : 16px 48px;
    font-size      : 1rem;
}

footer > nav > section.foot section.legal {
    display        : inline-block;
    vertical-align : top;
    width          : calc(100% / 3);
    padding        : 16px;
    font-size      : 1rem;
}

footer > nav > section.foot section.links {
    display        : inline-block;
    vertical-align : top;
    text-align     : center;
    width          : calc(100% / 3);
    padding        : 16px;
    font-size      : 1rem;
}


#footer_topbutton {
    display          : block;
    opacity          : 0;
    position         : fixed;
    bottom           : 80px;
    right            : 80px;
    z-index          : 99;
    text-decoration  : none;
    background-color : var(--color-article);
    /*outline          : var(--color-text) solid 2px;*/
    border           : 1px solid rgba(0, 0, 0, .25);
    color            : var(--color-text);
    border-radius    : 3rem;
    padding          : 1rem;
    margin-top       : calc((256px - 5rem) / 2);
    font-size        : 3rem !important;
    font-weight      : bold !important;

    transition       : .4s;
}

#footer_topbutton.show {
    opacity    : 1;
    transition : .8s;
}

#footer_topbutton:hover {
    cursor           : pointer;
    background-color : var(--color-text);
    border-radius    : 3rem;
    color            : #DB803D;
    transition       : .4s;
}


/*footer button {*/
/*    text-decoration  : none;*/
/*    background-color : var(--color-article);*/
/*    border           : none;*/
/*    outline          : none;*/
/*    color            : var(--color-text);*/
/*    border-radius    : 3rem;*/
/*    padding          : 1rem;*/
/*    margin-top       : calc((256px - 5rem) / 2);*/

/*    transition       : .4s;*/
/*}*/

/*footer button.size {*/
/*    !* needed to override material-icons style *!*/
/*    font-size        : 3rem !important;*/
/*    font-weight      : bold !important;*/
/*}*/

/*footer button:hover {*/
/*    cursor           : pointer;*/
/*    background-color : var(--color-text);*/
/*    border-radius    : 3rem;*/
/*    color            : #DB803D;*/
/*}*/

footer h1 {
    font-family : 'Open Sans', sans-serif;
    font-size   : 1.25rem;
    margin      : 0 0 1.5rem 0;
    text-align  : center;
}

footer p {
    display     : inline-block;
    font-family : 'Roboto', sans-serif;
    font-size   : 1rem;
    margin      : 0;
    text-align  : justify;
}

footer span {
    display   : inline-block;
    margin    : 0 1rem;
    font-size : 2rem;
}

/* icon & text alignement correction */
footer span.align {
    position : relative;
    top      : 6px;
}

footer a {
    display         : block;
    margin          : 15px 0;
    text-decoration : none;
    color           : var(--color-text);
}

footer a span,
footer a p {
    transition : .4s;
}

footer a:hover {
    color  : var(--color-highlight);
    cursor : pointer;
}

footer svg {
    width  : 48px;
    height : 48px;
    margin : 12px 32px;

    transition : .4s;
}

footer svg:hover {
    color : var(--color-highlight);
}


section.links a {
    display : inline-block;
    margin  : 0;
}

section.links a:hover {
    color : var(--color-highlight);
}
